{% extends 'boards/base.html'%}
{% block content %}
<table class='table'>
    <thead class='thead-inverse'>
        <tr>
            <th>Board</th>
            <th>Post</th>
            <th>Topics</th>
            <th>Last Post</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="#">Python</a></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><a href="#">Django</a></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><a href="#">Random</a></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
{% endblock %}
